<div class="container">
  <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">SignUP Now!!</div>
      <div class="panel-body">
          <%= form_for(:candidate, :url=>{:controller=>"candidates", :action=>"signup_create"}, :method => :post, class: "form-horizontal") do |c| %>
            <div class="form-group">
              <label for="firstName">First Name</label>
              <%= c.text_field :first_name, class: "form-control", placeholder: "Enter first name" %>
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <%= c.text_field :last_name, class: "form-control", placeholder: "Enter last name" %>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <%= c.text_field :email, class: "form-control", placeholder: "Enter Email" %>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Password</label>
              <%= c.password_field :password, class: "form-control", placeholder: "Enter Password" %>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Re Enter Password</label>
              <%= c.password_field :confirmation_password, class: "form-control", placeholder: "Re Enter Password" %>
            </div>
            <div class="form-group">
              <%= c.submit "signup", class: "btn btn-primary pull-right" %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
